<!DOCTYPE html>
<html>
<head>
    <title>Todo App Demo</title>
</head>
<body>

<h2> Todo App Demo</h2>

<form method="POST">
    <input type="text" name="content" placeholder="Enter task..." required>
    <button type="submit">Add</button>
</form>

<hr>

<h3>Tasks:</h3>

{% if todos %}
    <ul>
    {% for todo in todos %}
        <li>
            {{ todo }}
            <a href="/delete/{{ loop.index0 }}">  ❌  </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No tasks yet</p>
{% endif %}

</body>
</html>
